In [134]:
import pandas as pd
import numpy as np
import seaborn as sns
import statistics as st
import scipy.stats as stats

In [135]:
data = pd.read_csv('dataset w7.csv')

In [136]:
data.head(15)

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41

In [137]:
print(data.shape)

(28, 3)

In [138]:
data.isnull().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

# 1.Descriptive Analysis of dataset

In [139]:
data.describe(include='all')

        Gender Test preparation  Total Marks
count       28               28    28.000000
unique       2                2          NaN
top     female             none          NaN
freq        16               21          NaN
mean       NaN              NaN    32.321429
std        NaN              NaN    12.454520
min        NaN              NaN    12.000000
25%        NaN              NaN    22.500000
50%        NaN              NaN    33.000000
75%        NaN              NaN    43.250000
max        NaN              NaN    50.000000

# . 2. Check whether female and male students scored the same marks

Null hypothesis=Marks scored by male and female students are not same

Alternative hyothesis=Marks scored by male and female students are same

In [140]:
tstat,pval=stats.ttest_ind(data['Total Marks'][data['Gender'] == 'male'],
                 data['Total Marks'][data['Gender'] == 'female'])

In [141]:
print('Statistical Value = %.3f , p_value = %.6f' % (tstat,pval))

Statistical Value = -0.694 , p_value = 0.493782

In [142]:
d_m=data.loc[data['Gender']=='male']
d_f=data.loc[data['Gender']=='female']

In [143]:
df= (len(d_m)-1)+(len(d_f)-1)

In [144]:
print('deg_of_fr = %.0f' % (df))

deg_of_fr = 26

In [145]:
t_critic = stats.t.ppf(q=1-0.05/2, df=df)

In [146]:
print('t_critic= %.6f' % (t_critic))

t_critic= 2.055529

In [147]:
if (abs(tstat)>t_critic)&(pval<0.05):
    print('Marks scored by male and female students are same')
else:
    print('Marks scored by male and female students are not same')

Marks scored by male and female students are not same

# 3. Whether test preparation helped the student

Null hypothesis= Test preparation did not help the students

Alternative hypothesis= Test preparation helped the students

In [148]:
d2_m=data.loc[data['Test preparation']=='completed']['Total Marks']
d2_f=data.loc[data['Test preparation']=='none']['Total Marks']

In [149]:
tstat,pval = stats.ttest_ind(d2_m,d2_f)

In [150]:
print('Statistical Value = %.3f , p_value = %.6f' % (tstat,pval))

Statistical Value = 3.614 , p_value = 0.001267

In [151]:
df= (len(d2_m)-1)+(len(d2_f)-1)

In [152]:
print('deg_of_fr = %.0f' % (df))

deg_of_fr = 26

In [153]:
t_critic = stats.t.ppf(q=1-0.05/2, df=df)

In [154]:
print('t_critic= %.6f' % (t_critic))

t_critic= 2.055529

In [155]:
if (abs(tstat)>t_critic)&(pval<0.05):
    print('Test preparation helped the students')
else:
    print('Test preparation did not help the students')

Test preparation helped the students